* {
    font-family: Monospace;
    margin: 1.5em 0;
    padding: 0;
    text-decoration: none;
}

html {
    max-width: 62ch;
    padding: 2ch;
    margin: auto;
    background-color: #333333;
    color: #ffffff;
    font-size: 1.6em;
}

ul {
    list-style: none;
}

p {
    text-align: justify;
}

a {
    color: rgb(48, 176, 245); /* zima blue ;) */
}

code:not(pre > code) {
    background-color: #ffffff;
    color: #333333;
}

pre > code {
    margin-left: 1ch;
    display: block;
}

/* Reveal HTML elems */

*::before, *::after {
    color: rgba(48, 176, 245, 0.5); /* zima blue ;) */
    font-weight: 100;
    font-size: 1.0em;
}

a[href]::before {
    content: '<a href="' attr(href) '">';
}

a[href]::after {
    content: "</a>";
}

a.listing[href]::before {
    content: '<a href="' attr(href) '">\A    ';
    white-space: pre;
}

a.listing[href]::after {
    content: '\A</a>';
    white-space: pre;
}

a[href^="#footnote"]::before {
    content: '<fn>';
}

a[href^="#footnote"]::after {
    content: '</fn>';
}

h1::before {
    content: '<h1>';
}

h1::after {
    content: '</h1>';
}

h2::before {
    content: '<h2>';
}

h2::after {
    content: '</h2>';
}

h3::before {
    content: '<h3>';
}

h3::after {
    content: '</h3>';
}

p::before {
    content: '<p>';
}

p::after {
    content: '</p>';
}

pre > code::before {
    content:'<code lang="' attr(data-lang) '">';
    width: 100%;
    display: block;
    margin-bottom: 0.5ch;
    margin-left: -1ch;
    padding-right: 1ch;
}

pre > code::after {
    content: '</code>';
    display: block;
    margin-top: 1ch;
    text-align: right;
    margin-left: -1ch;
}

code::before {
    content:'`';
    background-color: #333333;
}

code::after {
    content: '`';
    background-color: #333333;
}

aside::before {
    content: '<aside>';
}

aside::after {
    content: '</aside>';
}

blockquote::before {
    content: '<blockquote>';
}

blockquote::after {
    content: '</blockquote>';
}

em::before {
    content: '<em>';
}

em::after {
    content: '</em>'; 
}
 
strong::before {
    content: '<strong>';
}

strong::after {
    content: '</strong>';
}

// SYNTAX HIGHLIGHTING

/* Background */ .chroma { background-color: #ffffff }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { font-weight: bold }
/* KeywordConstant */ .chroma .kc { font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { font-weight: bold }
/* KeywordNamespace */ .chroma .kn { font-weight: bold }
/* KeywordPseudo */ .chroma .kp {  }
/* KeywordReserved */ .chroma .kr { font-weight: bold }
/* KeywordType */ .chroma .kt {  }
/* NameClass */ .chroma .nc { font-weight: bold }
/* NameEntity */ .chroma .ni { font-weight: bold }
/* NameException */ .chroma .ne { font-weight: bold }
/* NameNamespace */ .chroma .nn { font-weight: bold }
/* NameTag */ .chroma .nt { font-weight: bold }
/* LiteralString */ .chroma .s { font-style: italic }
/* LiteralStringAffix */ .chroma .sa { font-style: italic }
/* LiteralStringBacktick */ .chroma .sb { font-style: italic }
/* LiteralStringChar */ .chroma .sc { font-style: italic }
/* LiteralStringDelimiter */ .chroma .dl { font-style: italic }
/* LiteralStringDoc */ .chroma .sd { font-style: italic }
/* LiteralStringDouble */ .chroma .s2 { font-style: italic }
/* LiteralStringEscape */ .chroma .se { font-weight: bold; font-style: italic }
/* LiteralStringHeredoc */ .chroma .sh { font-style: italic }
/* LiteralStringInterpol */ .chroma .si { font-weight: bold; font-style: italic }
/* LiteralStringOther */ .chroma .sx { font-style: italic }
/* LiteralStringRegex */ .chroma .sr { font-style: italic }
/* LiteralStringSingle */ .chroma .s1 { font-style: italic }
/* LiteralStringSymbol */ .chroma .ss { font-style: italic }
/* OperatorWord */ .chroma .ow { font-weight: bold }
/* Comment */ .chroma .c { font-style: italic }
/* CommentHashbang */ .chroma .ch { font-style: italic }
/* CommentMultiline */ .chroma .cm { font-style: italic }
/* CommentSingle */ .chroma .c1 { font-style: italic }
/* CommentSpecial */ .chroma .cs { font-style: italic }
/* CommentPreproc */ .chroma .cp {  }
/* CommentPreprocFile */ .chroma .cpf {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
